[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
jupyter = "*"
notebook = "*"
pyzmq = "*"
tornado = "*"
jupyter-nbextensions-configurator = "*"
ansible = "*"
singledispatch = "*"
pytest = "*"
backports-abc = "*"
defusedxml = "*"
ansible-runner = "*"

[dev-packages]
