[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = ">=4.2b1"
jupyter = "*"
notebook = ">=5.7.2"
pyzmq = "*"
tornado = "*"
jupyter-nbextensions-configurator = "*"
ansible = "*"
singledispatch = "*"
pytest = "*"
backports-abc = "*"
defusedxml = "*"
ansible-runner = "*"
ipywidgets = "*"
cryptography = ">=2.3"
paramiko = ">=2.4.2"

[dev-packages]
